<section>
    <p class="d-inline p-2 bg-primary text-white py-2">Summary</p>
    <h4 class="text-success py-3"> Total amount:{{cartService.total | async}}</h4>
    <div>
        <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
            <label for="inputsm">First Name
                <input class="form-control input-sm" type="text" formControlName="firstName">
            </label>
            <label for="inputdefault">Last Name
                <input class="form-control" type="text" formControlName="lastName">
            </label>
            <label for="inputlg">Address
                <input class="form-control input-lg" type="text" formControlName="address">
            </label>
            <label for="inputsm">Mobile no.
                <input class="form-control input-lg" type="number" formControlName="mobileNo">
            </label>
            <div>
                <button type="submit" [disabled]="isLoading" class="btn btn-outline-success">Checkout
                    <div *ngIf="isLoading" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</section>