<p>Summary</p>
<div>
    <h4 *ngIf="total">total amount:{{total}}</h4>
</div>
<div>
    <form>
        <div class="form-group">
            <label for="inputsm">first name</label>
            <input class="form-control input-sm" id="inputsm" type="text">
        </div>
        <div class="form-group">
            <label for="inputdefault">lastname</label>
            <input class="form-control" id="inputsm" type="text">
        </div>
        <div class="form-group">
            <label for="inputlg">address</label>
            <input class="form-control input-lg" id="inputlg" type="text">
        </div>
        <div class="form-group">
            <label for="inputsm">mobile no.</label>
            <input class="form-control input-lg" id="inputlg" type="number">
        </div>
    </form>
</div>