.category-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: Arial;
}
.box-style {
  background-color: rgb(151, 223, 151);
  position: relative;
  font-family: "Franklin Gothic Medium";
}
h1 {
  color: green;
}
