.category-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: Arial;
 
  
}
.box-style{
 background-color:cornsilk;
 position: relative;
 font-family: 'Franklin Gothic Medium';
}