section {
  a {
    color: brown;
    font-size: 20px;
  }
  .thumbnail {
    width: 100%;
  }
  .price {
    font-weight: 600;
    text-align: center;
    sup {
      color: brown;
    }
  }
  .quantity-selector {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-around;
    align-items: center;
    p {
      margin-bottom: 0;
      border-left: 1px solid;
      border-right: 1px solid;
      padding: 0 5px;
    }
    a {
      cursor: pointer;
    }
  }
  min-height: 500px;
}
