<section>
    <a>Shopping cart</a>
    <div class="row">
        <!--  <input type="checkbox" name="selected">-->
        <div class="col-md-1 border border">
            <b>slno</b>
        </div>
        <div class="col-md-8 border border">
            <p>product</p>
        </div>
        <div class="col-md-3 border border">
            <p>price:</p>
        </div>
    </div>
    <div class="row product border border py-3" *ngFor="let serialno of [1,2,3]">
        {{serialno}}
        <div class="col-md 2 ">
            <img class="thumbnail"
                src="https://dks.scene7.com/is/image/dkscdn/17NWBWFLCRNRGZXXXWLK_Black_White_is?wid=1080&fmt=jpg">
        </div>
        <div class="col-md-6 info ">
            <a>Nike c234</a>
        </div>
        <div class="col-md-4">
            <p class="price "> <sup>₹</sup> 2342.00</p>
            <div class="quantity-selector">
                <a>-</a>
                <p>item</p>
                <a>+</a>
            </div>
        </div>
    </div>
</section>