<div class="row product border border py-3">
    <div class="col-md 2">
        <img class="thumbnail"
            src="https://dks.scene7.com/is/image/dkscdn/17NWBWFLCRNRGZXXXWLK_Black_White_is?wid=1080&fmt=jpg">
    </div>
    <div class="col-md-8 info ">
        <a>Nike c234</a>
        <p>casual shoe Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, perspiciatis unde exercitationem
            quis autem ea molestias perferendis eius omnis recusandae ipsa ullam asperiores quisquam, velit, eos
            repellendus voluptas cupiditate nemo!</p>
    </div>
    <div class="col-md-2">
        <p class="price " > <sup>₹</sup> 2342.00</p>
        <button (click)="cart()" type="button" class="btn btn-outline-primary">Add to cart</button>
    </div>
</div>