<div>
    <div class="container-fluid page">
        <div class="row">
            <div class="col-md-8 border border-right">
                <app-products></app-products>
            </div>
            <div class="col-md-4">
                <app-cart></app-cart>
                <app-summary></app-summary>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>ShOpPiNg CaRt
        <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/payment-method_2dd397.svg"></p>
    </div>
</div>